<form [formGroup] = "formularios" (ngSubmit)="addTarea()" >
         
  <label for="">ID: </label>
  <input 
  type="number" 
  [(ngModel)]= "tarea.id" 
  formControlName="id" 
   />
   @if(formularios.controls['id'].getError('required')){
    <div>
    El campo ID es requerido
    </div>
   }
  <label for="">Nombre de Tarea: </label>
  <input type="text"  
   formControlName="nombre"
  />
    @if(formularios.controls['nombre'].getError('required') && formularios.controls['nombre'].touched){
    <div>
      El campo nombre es requerido
    </div>
   }
   @if(formularios.controls['nombre'].getError('minlength') && formularios.controls['nombre'].touched){
    <div>
      El campo nombre es requerido
    </div>
   }
  <button >Adicionar</button>
  </form>